{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Новый пароль | Академия MAST</title>
		<link rel="stylesheet" href="{% static 'style/styleLogin.css' %}" />
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link
			rel="shortcut icon"
			href="https://static.tildacdn.com/img/tildafavicon.ico"
			type="image/x-icon"
		/>
	</head>
	<body class="body-author">
		<div class="wrapper">
			<form method="post">
				{% csrf_token %}
				<h1 class="title-login">Новый пароль</h1>

				{% if messages %}
				<div class="messages">
					{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">{{ message }}</div>
					{% endfor %}
				</div>
				{% endif %}

				<div class="input-box">
					<input
						type="password"
						name="new_password"
						placeholder="Новый пароль"
						minlength="6"
						required
					/>
					<i class="bx bxs-lock-alt"></i>
				</div>

				<div class="input-box">
					<input
						type="password"
						name="confirm_password"
						placeholder="Подтвердите пароль"
						minlength="6"
						required
					/>
					<i class="bx bxs-lock-alt"></i>
				</div>

				<button type="submit" class="btn">Сохранить</button>
			</form>
		</div>
	</body>
</html>
